<%- include('../partials/header') %>
    <div class="container">
        <h1 class="text-center mt-5 border-bottom">My Dev Skills</h1>
        <ul>
            <% skills.forEach(function(s) { %>
                <li class=" mt-5 d-flex justify-content-center align-items-center">
                    <form action="/skills/<%= s.id %>">
                        <button class="btn btn-primary">
                            <%= s.skill %>
                        </button>
                    </form>
                </li>
                <% }) %>
        </ul>
        <form action="/skills/new">
            <button class="btn btn-success">Add New Skill</button>
        </form>
    </div>
    <%- include('../partials/footer') %>